<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>This site was created by Keith Millard as part of a Node.js training course.</p>
        <img class="portrait" src="/img/KeithPic.jpg">
    </div>
    
    {{>footer}}
</body>

</html>